<div class="app__container">
  <nav class="navbar navbar-default navbar-static-top main-header__navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed main-header__button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="#"><img src="/assets/logo.svg" alt="logo plan zero"></a>
      </div>
      <div id="navbar" class="main-header__navbar navbar-collapse collapse ">
        <ul class="nav navbar-nav ">
          <li class="active"><a href="#">Inicio</a></li>
          <li><a href="#about">Sobre nosotros</a></li>
          <li><a href="#about">Síguenos </a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="app__content">
    <h1>Plan Zero</h1>
    <h4>"Limpiaremos tu nombre financiero"</h4>
    <p>
      <button type="button" class="btn btn-primary btn-lg app__start_btn">Empezar</button>
    </p>
    <a href="">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      Ver video
    </a>
  </div>
  <div class="app__image">
    <figure>
      <img src="/assets/wallet.png" alt="">
    </figure>
  </div>
</div>
