<div class="app__container">
  <div class="app__content">
    <h1 class="app__headline">Plan Zero</h1>
    <h4 class="app__deck">"Limpiaremos tu nombre financiero"</h4>
    <p>
       <%= link_to'Empezar', new_user_registration_path, class: "btn btn-primary btn-lg app__button"  %>
    </p>
    <a href="" class="app__video">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      Ver video
    </a>
  </div>
  <div class="app__image">
    <figure>
      <img src="/assets/wallet.png" alt="">
    </figure>
  </div>
</div>
