<div class="container welcome__container">
  <h3 class="welcome__headline">Hola <span class="welcome__username"><%= current_user.username %>,</span> empecemos...</h3>
  <h6 class="welcome__deck">Ahora estás registrado en plan zero hagamos rendir tu dinero actualizando las deudas para saber cómo seguir.</h6>
  <div class="welcome__debts">
    <%= link_to'Registrar deudas', new_debt_path, class: "btn btn-primary btn-lg welcome__button"  %>
  </div>

</div>
