// Place all the styles related to the Debts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.debts {

  &__headline {
    margin-top: 0 !important;
  }

  &__fields th {
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #00adee;
    border-color: #0ca1da !important;
  }

  &__details {
    &:nth-child(2n+1) {
      color: #00d7ff;
    }

    &:nth-child(2n) {
      color: #00adee;
    }
  }

  &__total {
    border: 2px solid #00d7ff;
    padding-top: 13px;
    & p {
      font-size: 20px;
      text-align: center;
    }
  }

  &__new {
    margin-top: 20px;
  }

  &__destroy,
  &__destroy:hover,
  &__destroy:visited {
    color: #FF0033 !important;
    text-transform: none;
  }

  &__saved {
    padding-top: 40% !important;
  }

  &__know {

    margin-bottom: 10px;

    &-button,
    &-button:hover,
    &-button:active
    {
      color: #fff !important;
    }

    &-form {
      margin: 20px 0;
    }

    &-send-btn {
      margin-top: 0 !important;
    }
  }

  &__plan-button {
    &:hover,
    &:active {
      color: #fff !important;
    }

  }

}
.footable-row-detail{
    &-value {
     color: #00d7ff
    }

    &-name {
      color: #00adee
    }
}
