// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

.app {
  &__container {
    background-color: #00d7ff;
    padding-top: 10px;
    height: 100vh;
    text-align: center;
    color: #fff;
  }

  &__content {
    margin-bottom: 20px;

    p {
      margin: 20px 0;
    }

  }

  &__deck{
    font-family: 'Droid Serif';
    font-style: italic;
    font-size: 22px;
  }

  &__headline{
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }
  &__start_btn, &__start_btn:hover, &__start_btn:visited {
    background-color: #fff;
    border-color: #fff;
    color: #00d7ff;
  }

  &__video, &__video:focus, &__video:hover, &__video:visited {
    color : #fff !important;
    background-color: transparent;
    text-transform: none !important;
    font-size: 16px;
  }
}

