// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

.app {

  &__container {
    background-color: #00d7ff;
    color: #fff;
    height: 100vh;
  }

  &__follow{

    &-container {
      background-color: #f2f2f2;
      height: 30vh;
    }

    &-link {
      display: block;
      text-align: center !important;
    }

    &-link2 {
      display: block;
      text-align: center !important;
      font-size: 19px;
    }

    &-twitter {
      font-size: 50px !important;
      color: #00d7ff;
    }
  }

  &__benefits {
    &-container {
        background-color: #ffffff;
        height: 70vh;
    }

    &-items {
      margin-top: 20px;
      text-align: center;

      & p {
        font-size: 16px;
        margin-bottom: 20px
      }
    }

    &-icon {
      color: #00adee;
      margin-right: 16px;
      font-size: 50px !important;
    }
  }

  &__content {
    margin-bottom: 20px;

    p {
      margin: 20px 0;
    }

  }

  &__headline{
    color: #fff !important;
    font-size: 50px !important;
  }

  &__secondary-headline{
    color: #444 !important;
    font-size: 36px !important;
  }

  &__deck{
    font-family: 'Droid Serif';
    font-style: italic;
    font-size: 22px;
  }

  &__button,
  &__button:hover,
  &__button:visited {
    border-radius: 5% !important;
  }

  &__video,
  &__video:focus,
  &__video:hover,
  &__video:visited {
    background-color: transparent;
    color: #fff !important;
    font-size: 16px;
    text-transform: none !important;
  }
}

