.welcome {

  &__headline {
    text-align: left;
    margin: 40px 0;
  }

  &__deck {
    font-size: 22px;
    margin-bottom: 40px;
  }

  &__button,
  &__button:hover,
  &__button:visited
  {
    width: 166px;
  }

  &__debts{
    text-align: right;
  }

  &__username {
    color: #00D7FF
  }
}
